/* ABAIXO DO HEADER */
@import './variaveis_pg_tb_';

/* Título Yu Gi Oh Forbidden Memories*/
@font-face {
  font-family: fontSquealer;
  src: url(/fonts/Squealer\ Embossed.otf);
}

/*Título Games Woc*/
@font-face{
  font-family: fontGamesWoc;
  src: url(/fonts/Burn\ out\,\ fade\ away.ttf);
}


/* DIV COM TDO O HEADER */
.abaixo_header{
  background-color: $colorBlack;
  box-sizing: border-box;
  max-width: 80%;
  margin: auto;
  height: 280px;
  border-radius: 5px;
  padding: 20px 30px 10px 30px;
}

.controle_logo{
  width: 27px;
  position: absolute;
  margin: -1px 0 0 14px;
}

/* Título Games Woc DIV PAI DOS SPANS */
.titulo_GamesWoc{
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  position:absolute;
  margin: 0px 0 0 10px ;
  width: 200px;
  font-family: fontGamesWoc;
  font-weight: 700;
  font-style:none;
  letter-spacing: 1px;
}

.titulo_GamesWoc span.spanGamesWoc{
  animation-name: gamesWoc;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  
}
      .spanGamesWoc:nth-of-type(1){
        font-size: 30px;     
      }

      .spanGamesWoc:nth-of-type(2){
        animation-delay: 0.50s;       
      }

      .spanGamesWoc:nth-of-type(3){
        animation-delay: 0.750s;
      }

      .spanGamesWoc:nth-of-type(4){
        animation-delay: 1s;
      }

      .spanGamesWoc:nth-of-type(5){
        animation-delay: 1.25s;
      }

      .spanGamesWoc:nth-of-type(6){
        animation-delay: 1.50s;
        font-size: 29px;
      }

      .spanGamesWoc:nth-of-type(7){
        animation-delay: 1.75s;
      }

      .spanGamesWoc:nth-of-type(8){
        animation-delay: 1.75s;
      }

      @keyframes gamesWoc{
        0%{   
          text-shadow:
          0 0 12px $colorPurple,
          0 0 50px $colorPurple,
          0 0 100px $colorPurple; 
        }
        25%{
         padding: 1%;
        }
        45%{
          padding: 1%;
         }
        60%{
          padding: 1%;
        }
        75%{
          padding: 1%;
        }
        90%{
          color:rgba(187, 123, 50, 0.651);
          text-shadow: none;
          text-shadow:
          0 0 12px rgba(201, 20, 59, 0.993),
          0 0 100px blue,
          0 0 70px green; 
        }
      }

     




/* LINK TITULO GAMESWOC DIV PAI DOS SPANS */
.titulo_GamesWoc a{
  text-decoration: none;
  color:rgba(255, 187, 0, 0.877);
}


/* YU GI OH   ANIMATION*/
.container_yugioh{
    display:flex ;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 30px;
    letter-spacing: 10px;
    font-family: fontSquealer;
}
  

    /* DIV YUGI SPAN ANIMATION*/

    .container_yugioh span.spanYuGiOh{
      color: $color_text_YuAnimation;
      animation-name: Yugi;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      transition: 5s;      
    }

          .spanYuGiOh:nth-of-type(2){
            animation-delay: 0.50s;       
          }

          .spanYuGiOh:nth-of-type(3){
            animation-delay: 0.750s;
          }

          .spanYuGiOh:nth-of-type(4){
            animation-delay: 1s;
          }

          .spanYuGiOh:nth-of-type(5){
            animation-delay: 1.25s;
          }

          span.spanYuGiOh:nth-of-type(6){
            animation-delay: 1.50s;
          }

          span.spanYuGiOh:nth-of-type(7){
            animation-delay: 1.75s;
          }

          span.spanYuGiOh:nth-of-type(8){
            animation-delay: 2s;
          }

              @keyframes Yugi{
                0%{   
                  text-shadow:
                  0 0 12px $colorPurple,
                  0 0 50px $colorPurple,
                  0 0 100px $colorPurple;
                  font-size: 30px;
                }
                90%{
                  color:$color_text_YuAnimation;
                  text-shadow: none;
                  font-size: 30px;
                  text-shadow:
                  0 0 12px rgba(255, 255, 0, 0.692),
                  0 0 100px blue,
                  0 0 70px green; 
                }
              }


/* FORBIDDEN MEMORIES   ANIMATION */

.container_forbidden{
  display:flex ;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 20px;
  letter-spacing: 10px;
  font-family: fontSquealer;
}

      .container_forbidden span.span_Forbidden{
        color: $color_text_YuAnimation2;
        animation-name: brilho_Forbidden;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        transition: 5s;
      }

            span.span_Forbidden:nth-of-type(2){
              animation-delay: 0.25s;
            }

            span.span_Forbidden:nth-of-type(3){
              animation-delay: 0.50s;
            }

            span.span_Forbidden:nth-of-type(4){
              animation-delay: 0.75s;
            }

            span.span_Forbidden:nth-of-type(5){
              animation-delay: 1s;
            }

            span.span_Forbidden:nth-of-type(6){
              animation-delay: 1.25s;
            }

            span.span_Forbidden:nth-of-type(7){
              animation-delay: 1.50s;
            }

            span.span_Forbidden:nth-of-type(8){
              animation-delay: 1.75s;
            }

            span.span_Forbidden:nth-of-type(9){
              animation-delay: 2s;
            }

            span.span_Forbidden:nth-of-type(10){
              animation-delay: 2.25s;
            }

            span.span_Forbidden:nth-of-type(11){
              animation-delay: 2.50s;
            }

            span.span_Forbidden:nth-of-type(12){
              animation-delay: 2.75s;
            }

            span.span_Forbidden:nth-of-type(13){
              animation-delay: 3s;
            }

            span.span_Forbidden:nth-of-type(14){
              animation-delay: 3.25s;
            }

            span.span_Forbidden:nth-of-type(15){
              animation-delay: 3.50s;
            }

            span.span_Forbidden:nth-of-type(16){
              animation-delay: 3.75s;
            }

            span.span_Forbidden:nth-of-type(17){
              animation-delay: 4s;
            }

            span.span_Forbidden:nth-of-type(18){  
              animation-delay: 4s;
            }


            span.span_Forbidden:nth-of-type(19){
              animation-delay: 4s;
            }



                @keyframes brilho_Forbidden{
                  0%{   
                    text-shadow:
                    0 0 12px $colorPurple,
                    0 0 50px $colorPurple,
                    0 0 100px $colorPurple;
                    font-size: 20px;
                  }
                  50%{
                    font-size: 18px;
                  }
                  90%{
                    color:$color_text_YuAnimation2;
                    text-shadow: none;
                    font-size: 26px;
                    text-shadow:
                    0 0 12px rgba(255, 0, 119, 0.692),
                    0 0 100px rgb(187, 255, 0),
                    0 0 70px rgb(0, 119, 128); 
                  }
                }
   /*DIV PAI IMG YU GI | H2 CÓDIGOS L CARTAS*/
   .cods_list_cards{
      display: flex;
      justify-content: center;
      padding: 0px 0 0 0;
      width: 50%;
      background-color: blue;
      margin: auto;
   }       
   
   .cods_list_cards h2{
     width: 100%;
   }
   
   .img_logo_yugi_title {
     width: 120px;
     margin-right: 18%;
   }
   
   .tracksGame{
    position: absolute;
    margin: -2px;
    margin-left: 65%;
   }
        
   /* GitHub Email Whatsapp */
   #redesSociais{
      position: absolute;
      display: flex;
      margin-left: 1070px;
      margin-top: -200px;
   }     
        
        /* Link da fonte que peguei no Icons8.com / obrigatório ter na página*/
        .link_icon_Icons8{
          color: rgba(0, 0, 0, 0.048);
        }   
        
        .criadorConteudo{
          width: 50px;
          height: 60px;
          position: absolute;
          margin-top: -55px;
          margin-left: 50px;
        }

         /*UL Header redes sociais*/
        .ul_header{
          margin: 11px 0 0 0;
          margin-left: 0px;
          width: 0;
          padding: 0;     
        }
  
        /*Paragrafo do GITHub*/
         .paragrafoGit{
          font-size: 16px;
          font-family: "frijole",cursive;
          color: rgb(11, 47, 124);
          margin: 0 0 5px 0;
          &:hover {
            color: rgba(17, 107, 70, 0.897);
            transition: 500ms;
          }
  
         }
        /* Passando o mouse sobre o Paragrafo do GitHub*/
        /* GitHub */
         a.to_tip:hover span.img_git{
          background-image: url("/imgs/github_img.pgn.png");
          background-position: center center;
          background-size: contain; /* <------ */
          background-repeat: no-repeat;
          border: 1px solid #fff;
          color: #eee;
          display: inline;
          position: absolute;
        }
        /* LinkedIn */
        a.to_tip:hover span.img_linkedin{
          background-image: url("/imgs/linkedin_logo.png");
          background-position: center center;
          background-size: contain; /* <------ */
          background-repeat: no-repeat;
          border: 1px solid #fff;
          color: #eee;
          display: inline;
          position: absolute;
        }
        /*E-mail*/
        a.to_tip:hover span.img_email{
          background-image: url("/imgs/email_logo.png");
          background-position: center center;
          background-size: contain; /* <------ */
          background-repeat: no-repeat;
          border: 1px solid #fff;
          color: #eee;
          display: inline;
          position: absolute;
          height: 50px;
         
        }
        /*Whattsapp*/
        a.to_tip:hover span.img_whattsap{
          background-image: url("/imgs/whattsap_img.png");
          background-position: center center;
          background-size: contain; /* <------ */
          background-repeat: no-repeat;
          border: 1px solid #fff;
          color: #eee;
          display: inline;
          position: absolute;
         
        }
  
        a.to_tip {
          outline: none;
        }
        
        a.to_tip strong {
          line-height: 10px;
        }
        
        a.to_tip:hover {
          text-decoration: none;
        }
        
        a.to_tip span {
          border-radius: 1px;
          box-shadow: 0px 0px 4px 2px #666;
          display: none;
          margin-left: 120px;
          margin-top: -20px;
          padding: 2px 2px;
          width: 50px;
          height: 50px;
          z-index: 10;
        }

        a.to_tip span.img_linkedin{
          border-radius: 1px;
          box-shadow: 0px 0px 4px 2px #666;
          display: none;
          margin-left: 120px;
          margin-top: -20px;
          padding: 2px 2px;
          width: 50px;
          height: 50px;
          z-index: 10;
        }
  
        a.to_tip span.img_email {
          border-radius: 1px;
          box-shadow: 0px 0px 4px 2px #666;
          display: none;
          margin-left: 120px;
          margin-top: -20px;
          padding: 2px 2px;
          width: 50px;
          height: 50px;
          z-index: 10;
        }
  
        a.to_tip span.img_whattsap {
          border-radius: 1px;
          box-shadow: 0px 0px 4px 2px #666;
          display: none;
          margin-left: 120px;
          margin-top: -20px;
          padding: 2px 2px;
          width: 50px;
          height: 50px;
          z-index: 10;
        }
        
        .callout {
          border: 0;
          left: 120px;
          position: absolute;
          top: -14px;
          z-index: 20;
        }
        
        body:hover {
          display: flex;
          flex-direction: column;
        }

