/*Content Lateral Esquerda */
@import './variaveis_pg_tb_.scss';  /* Importando variaveis */

.content_lateral_esq{
  display: grid;
  grid-auto-flow: column;
  position: sticky;
  top: 43px;
  margin: auto;
  width: 100%; 

    .logo_yu_mScreen{
      display: none;
    }

    .psOne{
      display: none;
    }

    .menu_esq{
      margin: auto;
      background-color: $bckg_color_menu_esq;
      height: 100%;
      font-family: 'Fredoka One', cursive;
      font-size: 15px;
      font-weight: 400;
          
      padding: 10px 0 10px 0;
      box-sizing: border-box;
      width: 60%;   
      border-radius: 10px; 
    }

    .menu_esq_centralizando{
      border-radius: 10px;
    }
      .menu_esq ul li a{
        color: $color_menu_esq_a;
        margin: 0 0 0px 0;
        padding: 0;
        
        &:hover{
          color: $color_menu_esq_a_hover;
          transition: 500ms;
        }
        
      }  
      .menu_esq ul{
        margin: 0;
        padding: 0;
        line-height: 20px;
      }
      .menu_esq ul li{
        margin: 0px 0 0 5px;
        padding: 0;
        float: left;
        background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
        opacity: 0.9;
        padding: 6px;
        border-radius:8px ;   
        box-shadow: 1px 1px 8px rgba(214, 19, 19, 0.479);  
      }
}
@media screen and (min-width: 1263px) and (max-width: 1582px){
      .content_lateral_esq{
        display: flex;
        flex-direction: column;
        width: 68%;
        margin-left: 250px;
        position: sticky;
        top: 37px;
        border-radius: 5px;
      
          .menu_esq{
            margin-top: 10px;
            background-color: $bckg_color_menu_esq_901_1262;
            font-family: 'Fredoka One', cursive;
            font-size: 14px;
            font-weight: 400;
            padding: 0 0  4px 0;
            border-radius: 5px;
            box-sizing: border-box;
            width: 100%;
            text-align: center;      
          }
          .menu_esq ul li{
            margin:2px 3px 1px 4px;
            background-color: none;
          }
    }
}

@media screen and (min-width: 901px) and (max-width: 1262px) {  
  .content_lateral_esq{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0px;
    position: sticky;
    top: 32px;
    border-radius: 5px;
  
      .menu_esq{
        margin-top: 10px;
        background-color: $bckg_color_menu_esq_901_1262; 
        height: 100%;
        font-family: 'Fredoka One', cursive;
        font-size: 16px;
        font-weight: 400;
        padding: 10px 5px;
        border-radius: 5px;
        box-sizing: border-box;
        width: 100%;
        text-align: center;      
      }
      .psOne{
        display: none;
      }
        .menu_esq ul li a{
          color: $color_menu_esq_a;
          margin: 0 0 0 10px;
          padding: 5px;
          background-color: #333;
          border-radius: 5px;
          &:hover{
            color: $color_menu_esq_a_hover;
            transition: 500ms;
          }
          
        }  
        .menu_esq ul{
          margin: 0;
          padding: 0;
          line-height: 40px;
          float: left;
        }
        .menu_esq ul li{
          margin: 0;
          padding: 0 8px 0 0;
          display: inline-block;
          background-image: none;
          background-color: transparent;
          &:hover{
            box-shadow: 3px 1px 8px purple;
            border-radius: 8px;
            transition: 500ms;
          }
        }
  }

}

@media screen and (min-width: 901px) and (max-width: 1083px){
  .content_lateral_esq{
    display: flex;
    flex-direction: column;
    width: 60%;
    position: sticky;
    top: -7px;
    
      .menu_esq{
        width: 100%;
        margin-left:10%;
        margin-top: 50px;
        background-color: $bckg_color_menu_esq_901_1083;
        font-family: 'Fredoka One', cursive;
        font-size: 19px;
        font-weight: 400;
        padding: 2px 0px;
        border-radius: 10px;  
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.253);
        text-align: center;      
      }
      .menu_esq ul li{
        background-image: none;
      }
}
}

/* RESPONSIVIDADE MEDIA SCREEN  */
@media screen and (min-width: 0px) and (max-width: 900px){
  .content_lateral_esq{
    display: flex;
    flex-direction: column;
    width: 88%;
    border-radius: 10px;
    background-color: transparent;
    position: sticky;
    top: 63px;
    height: 100%;
    box-shadow: 2px 2px 10px rgba(158, 130, 130, 0.13);
    
    
  
      .menu_esq{
        background-color:$bckg_color_menu_esq_0_900;
        height: 100%;
        width: 68%;
        margin-left:18%;
        margin-top: 0px;
        font-family: 'Fredoka One', cursive;
        font-size: 19px;
        font-weight: 400;
        padding: 0px 0 0 12px;
        border-radius: 10px;  
        box-shadow: 1px 1px 8px rgba(214, 19, 19, 0.479);
        text-align: center;     
        margin-bottom: 50px;
        
      }
        /* DIV ONDE ESTAO AS IMGS */
        .grid_img_latEsq{
          display: grid;
          grid-auto-flow:column;
          padding: 10px;
          box-sizing: border-box;
          
        }
        
        /* LOGO YU GI OH */
        .logo_yu_mScreen{
          display: inline-block;
          width: 150px;
          margin-top: 5px;
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.253);
          border-radius: 5px;
          box-shadow: 1px 1px 8px rgba(214, 19, 19, 0.479);
        }

        .psOne{
          width: 90px;
          display: inline-block;
          margin-top: 36px;
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.253);
          border-radius: 5px;
          box-shadow: 1px 1px 8px rgba(214, 19, 19, 0.329);
        }

        /* CD YU GI OH */
        .cd_width{
          display: inline-block;
          width:40px;
          margin-top: 31px;
          box-shadow: 1px 1px 8px rgba(214, 19, 19, 0.329);
        }
        .menu_esq ul li a{
          color: $color_menu_esq_a;
          margin: 0 0 0 0px;
          padding: 7px 5px;
          background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
          border-radius: 5px;
          &:hover{
            color: $color_menu_esq_a_hover;
            transition: 500ms;
          }
          &:active{
            color:#959;
          }        
        }  

        .menu_esq ul{
          margin: 0;
          padding: 0;
          line-height: 40px;
          float: left;
        }
        .menu_esq ul li{
          margin: 0 0 5px 5px;
          padding: 0 8px 0 0;
          display: inline-block;
          background-image: none;
          &:hover{
            box-shadow: 3px 1px 8px purple;
            border-radius: 8px;
            transition: 500ms;
          }
        }
  }

  body{
    height: 100vh;
  }
}
