
/* Content da Tabela */

@import './variaveis_pg_tb_.scss'; /* importando variaveis */

/* Content da tabela */
.content_tb {
  max-width: 60%;
  margin: auto;
  padding: 0px;

    .ResponsiveAllMargin{
      float: left;
    }

    
    /* Tabela */
    table{
      margin-top: 0px;
      width: 100%;
    }

    /* N CARTA ATK DFS PASS STAR */
    th{
      background-color: $cabecalho_tb_bckg_co;
      border: 0px solid transparent;
      color: $cor_text_cab_tb;
      font-family: "Bebas Neue", cursive;
      font-size: 24px;
      padding: 12px;
      border-radius: 5px;
      position: sticky;
      top: 0;
    }
    /* Cabeçalho do N° */
    th:nth-child(6n + 1) {
      color: $color_cab_tb_N;
    }
    /*Cabeçalho CARTA*/
    th:nth-child(2) {
      background-image: url(/imgs/card.png);
      background-size: 18px;
      background-repeat: no-repeat;
      background-position-y: 52%;
      background-position-x: 65%;
    }
    /*Cabeçalho ATK*/
    th:nth-child(3) {
      background-image: url(/imgs/espada.png);
      background-size: 18px;
      background-repeat: no-repeat;
      background-position-y: 56%;
      background-position-x: 93%;
    }
    /*Cabeçalho DFS*/
    th:nth-child(4) {
      background-image: url(/imgs/escudo.png);
      background-size: 18px;
      background-repeat: no-repeat;
      background-position-y: 56%;
      background-position-x: 93%;
    }
    /*Cabeçalho PASS*/
    th:nth-child(5) {
      background-image: url(/imgs/password.png);
      background-size: 28px;
      background-repeat: no-repeat;
      background-position-y: 60%;
      background-position-x: 95%;
    }
    /* Cabeçalho da Starchips */
    th:nth-child(6) {
      background-image: url(/imgs/starchip.png);
      background-size: 17px;
      background-repeat: no-repeat;
      background-position-y: 56%;
      background-position-x: 98%;
    }

        /* Todas as Colunas */
        td {
          padding: 9px;
          margin-left: 15px;
          background-image: $bckg_color_table_td;
        }
        
          /* Primeira Coluna */
          td:nth-child(6n + 1) {
            background: $bckg_color_first_td;
            background-blend-mode: multiply, multiply;
            font-family: "Phudu", cursive;
            font-size: 22px;
            color: $color_first_td;
            border-radius: 10px;
            width: 100px;
          }
          /* Segunda Coluna  */
          td:nth-child(6n + 2) {
            font-size: 18px;
            font-family: "Frijole", cursive;
            font-weight: 100;
            width: 300px;
            letter-spacing: 3px;
            animation-name: colunas;
            animation-duration: 500ms;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            &:hover{
              animation-name: hover;
              animation-duration: 500ms;
              animation-delay: 0s;
              animation-iteration-count: infinite;
              @keyframes hover {
                0%{color: $keyf_color_hover_second_td_0porcento;}
                100%{color: $keyf_color_hover_second_td_100porcento;}
              }
            }           
          }
          /* Animação Segunda Coluna*/
          @keyframes colunas {
            0% {
              color: $keyf_color_second_td_0pct;
            }
            100% {
              color: $keyf_color_second_td_100pct;
            }
          }
          
          /* Font-family, Color ATK DEF PASS */
          td:nth-child(1n + 3) {
            font-family: "Yuji Mai", serif;
            color: $color_atk_dfs_td;
            font-weight: 700;
            font-size: 20px;
          }
          
          /*COLUNA do PASSWORD*/
          td:nth-child(5) {
            color: $color_password_td;
          }
          
          /*COLUNA da STARCHIPS*/
          td:nth-child(6) {
            color: $color_starchips_td;
            text-align: center;
            font-size: 18px;
            background-color: $bckg_color_table_td;
          }
  
    /* MAGIC CARDS */
    .card_magic td:nth-child(5n + 2) {
      animation-name: card_magic;
      animation-delay: 0s;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      transition: 500ms;
      &:hover{
        animation-name: hover_magic;
        animation-delay: 0s;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        transition: 500ms;
      }
      @keyframes hover_magic{
        0%{
          color:$key_hover_color_magicCards_0pct
        }
        100%{
          color:$key_hover_color_magicCards_100pct
        }
      }
    }
    
    /*Animação Magic Cards*/
    @keyframes card_magic {
      0% {
        color: $key_color_magicCards_0pct;
      }
      100% {
        color: $key_color_magicCards_100pct;
      }
    }

    /* TRAP CARDS */
    .trap_cards td:nth-child(5n + 2) {
      animation-name: trap_cards;
      animation-delay: 0s;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      &:hover{
        animation-name: hover_trap;
        animation-delay: 0s;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        transition: 500ms;
      }
      @keyframes hover_trap{
        0%{
          color: $key_hover_color_trapCards_0pct;
        }
        100%{
          color: $key_hover_color_trapCards_100pct;
        }
      }
    }
    

    /*Animação TRAP CARDS */
    @keyframes trap_cards {
      0% {
        color: $key_color_trapCards_0pct;
      }
      100% {
        color: $key_color_trapCards_100pct;
      }
    }

    /*RITUAL CARDS*/
    .ritual_cards td:nth-child(5n + 2) {
      animation-name: ritual_cards;
      animation-delay: 0s;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      &:hover{
        animation-name: hover_ritual;
        animation-delay: 0s;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        transition: 500ms;
      }
      @keyframes hover_ritual{
        0%{
          color:$key_hover_color_ritualCards_0pct;
        }
        100%{
          color:$key_hover_color_ritualCards_100pct;
        }
      }
    }
    
    /*Animação Ritual Cards*/
    @keyframes ritual_cards {
      0% {
        color: $key_color_ritualCards_0pct;
      }
      100% {
        color: $key_color_ritualCards_100pct;
      }
    }         
}

/* MEDIA SCREEN | RESPONSIVIDADE */
@media screen and (min-width: 901px) and (max-width: 1262px){
  body{
    margin-left: 5%;
  }

  .content_tb {
    max-width: 100%;
    margin: auto;
    background-image: $content_bkgr_co_TB;
    margin: 10px 0 0 0;
    padding: 0px;
    border-radius: 10px;
       
      /* Tabela */
      table{
        margin-top: 0px;
        width: 100%;
      }
  
      /* N CARTA ATK DFS PASS STAR */
      th{
        background-color: $cabecalho_tb_bckg_co;
        border: 0px solid transparent;
        color: $cor_text_cab_tb;
        font-family: "Bebas Neue", cursive;
        font-size: 22px;
        padding: 10px;
        border-radius: 5px;
        position: sticky;
        top: 0;
      }
      /* Cabeçalho do N° */
      th:nth-child(1) {
        color: $color_cab_tb_N;
      }
      /*Cabeçalho CARTA*/
      th:nth-child(2) {
        background-image: url(/imgs/card.png);
        background-size: 18px;
        background-repeat: no-repeat;
        background-position-y: 52%;
        background-position-x: 65%;
      }
      /*Cabeçalho ATK*/
      th:nth-child(3) {
        background-image: url(/imgs/espada.png);
        background-size: 18px;
        background-repeat: no-repeat;
        background-position-y: 56%;
        background-position-x: 93%;
      }
      /*Cabeçalho DFS*/
      th:nth-child(4) {
        background-image: url(/imgs/escudo.png);
        background-size: 18px;
        background-repeat: no-repeat;
        background-position-y: 56%;
        background-position-x: 93%;
      }
      /*Cabeçalho PASS*/
      th:nth-child(5) {
        background-image: url(/imgs/password.png);
        background-size: 28px;
        background-repeat: no-repeat;
        background-position-y: 60%;
        background-position-x: 83%;
      }
      /* Cabeçalho da Starchips */
      th:nth-child(6) {
        background-image: url(/imgs/starchip.png);
        background-size: 17px;
        background-repeat: no-repeat;
        background-position-y: 56%;
        background-position-x: 85%;
      }
  
          /* Todas as Colunas */
          td {
            padding: 7px;      
            margin: 1px;
          }
          
            /* Coluna N° */
            td:nth-child(1) {
              font-size: 18px;
              width: 0px;
            }
            /* Coluna CARTA */
            td:nth-child(2) {
              font-size: 15px;
              width: 0;         
            }
            
            /* Coluna ATK  */
            td:nth-child(3) {
              font-size: 17px;
              width: 30px;     
            }

            /* Coluna DEF  */
            td:nth-child(4) {
              font-size: 17px;
              width: 30px;     
            }
            
            /*COLUNA do PASSWORD*/
            td:nth-child(5) {
              font-size: 17px;
              padding: 0 2px 0 2px;
              width: 130px;
            }
            
            /*COLUNA da STARCHIPS*/
            td:nth-child(6) {
              color: $color_starchips_td;
              text-align: justify;
              font-size: 16px;
              width: 100px;
            }
  }
}


/* MEDIA SCREEN RESPONSIVIDADE */
@media screen and (min-width: 901px) and (max-width: 1085px){
  body{
    margin-left: 0;
    margin-right: 0;
  }
 
  .content_tb {
    max-width: 0%;
    margin: 3px 0 0 0;
    margin-left: 1%;
    margin-right: 5%;
    padding: 0px;
    
      /* Tabela */
      table{
        font-size: 10px;
        margin: auto;
      }

      /* N CARTA ATK DFS PASS STAR */
      th{
        width: 100%;
        font-size: 17px;
        background-image: url(none);
      }

      th:nth-child(1) {       
        background-image: url(none);
        width: 0;
      }

      /*Cabeçalho CARTA*/
      th:nth-child(2) {       
        background-image: url(none);
      }
      /*Cabeçalho ATK*/
      th:nth-child(3) { 
        background-image: url(none);
      }
      /*Cabeçalho DFS*/
      th:nth-child(4) {
        background-image: url(none);
      }
      /*Cabeçalho PASS*/
      th:nth-child(5) {
        background-image: url(none);      
      }
      /* Cabeçalho da Starchips */
      th:nth-child(6) {  
        background-image: url(none);
      }

        /*COLUNA da STARCHIPS*/
        td:nth-child(6) {
          text-align: justify;
        }
  }
      
}

/* RESPONSIVIDADE MEDIA SCREEN */
@media screen and (min-width: 0px) and (max-width: 900px){
    body{
      margin-left: 4%;
      margin-right: 1%;
      background-image: url(/imgs/exodia.jpg);
    }
    
    .content_tb {
      max-width: 100%;
      margin: 20px 0 0 0;
      margin-left: 1%;
      margin-right: 5%;
      padding: 0px;

      
        /* Tabela */
        table{
          margin:auto ;
          width: 0%;
        }

        /* N CARTA ATK DFS PASS STAR */
        th{
          width: 0%;
          font-size: 17px;
          padding: 8px 0;
          position: sticky;
          top: 0;
          background-color: rgb(53, 46, 46);
          background-image: url(none);
        }
        /* COLUNA N ° CABEÇALHO*/
        th:nth-child(1) {       
          background-image: url(none);
          padding: 20px;   
        }

        th:nth-child(2) {       
          background-image: url(none);    
        }

        th:nth-child(3) {       
          background-image: url(none);
          width: 1%;
             
        }

        th:nth-child(4) {       
          background-image: url(none);
          width: 1%;     
        }

        th:nth-child(5) {       
          background-image: url(none);
          width: 1%;     
        }

        th:nth-child(6) {       
          background-image: url(none);
          width: 1%;      
        }

        td{
          border-radius: 2px;
        }
        /* COLUNA N° TD*/
        td:nth-child(1){
          font-size: 15px;
          width: -10px;
          margin: 0;
          
        }
        /*COLUNA CARTA TD */
        td:nth-child(2){
          font-size: 12px;
          width: 0;
          font-weight: 700;
         
        }
        /*COLUNA ATK TD */
        td:nth-child(3){
          font-size: 12px;
          width: 0;
          font-weight: 700;
        }
        /*COLUNA DFS TD */
        td:nth-child(4){
          font-size: 12px;
          width: 0;
          font-weight: 700;        
        }
        /*COLUNA PASS TD */
        td:nth-child(5){
          font-size: 12px;
          width: 0;
          font-weight: 700;
        }
        /*COLUNA STAR TD */
        td:nth-child(6){
          font-size: 12px;
          width: 0;
          font-weight: 700;
        }     
  }

}