
/* Content | Table */

/*BACKG BODY*/
$backg_body_pgTb:linear-gradient(to right, #434343 0%, black 100%);


/*HEADER*/

/*BACKG HEADER - COLOR HEADER |  BCKG FOOTER - COLOR FOOTER*/
$backg_color_header:linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%); 
$color_header:whitesmoke;


/*TABLE*/

/*CONTENT TABLE*/
$content_bkgr_co_TB:linear-gradient(to top, #491636 0%, #210d3b 100%);

/*BACKG CABECALHO | COLOR CABECALHO | COLOR N° */
$cabecalho_tb_bckg_co:rgb(29, 27, 24);
$cor_text_cab_tb:rgb(199, 202, 36);
$color_cab_tb_N:mediumseagreen;

/*BACKG TABLE | BACKG FIRST TD | COLOR FIRST TD  */
$bckg_color_table_td:linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
$bckg_color_first_td:linear-gradient(to bottom,rgba(255, 255, 255, 0.15) 0%,rgba(0, 0, 0, 0.15) 100%),radial-gradient(at top center,rgba(255, 255, 255, 0.4) 0%,rgba(0, 0, 0, 0.4) 120%)#989898;
$color_first_td:rgb(252, 187, 7);

/* CARTA | COLOR ANIMAÇOES E HOVER DA SEGUNDA COLUNA */
$keyf_color_second_td_0pct:rgb(8, 64, 68);
$keyf_color_second_td_100pct:rgb(2, 29, 31);
$keyf_color_hover_second_td_0porcento:rgb(45, 87, 90);
$keyf_color_hover_second_td_100porcento:rgb(81, 88, 88);

/*CORES DAS COLUNAS | ATK | DFS | PASS | STARS */
$color_atk_dfs_td:rgb(187, 12, 12);
$color_password_td:rgb(36, 28, 151);
$color_starchips_td:rgb(173, 163, 18);


/*CARDS*/

/*MAGIC CARDS*/
$key_color_magicCards_0pct:rgb(12, 116, 12);
$key_color_magicCards_100pct:rgb(7, 126, 7);
$key_hover_color_magicCards_0pct:rgb(12, 160, 12);
$key_hover_color_magicCards_100pct:rgb(10, 133, 10);

/*TRAP CARDS*/
$key_color_trapCards_0pct:rgb(170, 33, 118);
$key_color_trapCards_100pct:rgb(155, 16, 102);
$key_hover_color_trapCards_0pct:rgb(206, 14, 132);
$key_hover_color_trapCards_100pct:rgb(187, 47, 133);

/*RITUAL CARDS*/
$key_color_ritualCards_0pct:rgb(19, 0, 129);
$key_color_ritualCards_100pct:rgb(35, 23, 105);
$key_hover_color_ritualCards_0pct:rgb(43, 15, 197);
$key_hover_color_ritualCards_100pct:rgb(47, 25, 170);



/* Content Menu Esquerdo | menu li a */
$color_menu_esq_a: gold;
$color_menu_esq_a_hover:rgb(212, 187, 41);

$bckg_color_menu_esq:rgba(0, 0, 0, 0.808); 
$bckg_color_menu_esq_0_900:rgba(0, 0, 0, 0.808);           /* Media screen de 0 - 900    */
$bckg_color_menu_esq_901_1083:rgba(0, 0, 0, 0.808);        /* Media screen de 901 - 1083 */
$bckg_color_menu_esq_901_1262:rgba(0, 0, 0, 0.808);        /* Media screen de 901 - 1262 */
$bckg_color_menu_esq_901_1262:rgba(0, 0, 0, 0.808);        /* Media screen de 1263 - 11582 */


/* MEDIA SCREEN */

/* CONTENT_MENU_ESQUERDA | 0 A 719 */
$bckg_clr_menu_esq_mScreen_719:rgb(151, 151, 172);