@charset "UTF-8";
body {
  margin-top: 0;
  margin-left: 2%;
  margin-right: 2%;
  background: black;
}

html {
  color: white;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

iframe {
  margin-top: 100%;
  width: 90%;
}

/* Header */
/* Content | Table */
/*BACKG BODY*/
/*HEADER*/
/*BACKG HEADER | COLOR HEADER */
/*TABLE*/
/*CONTENT TABLE*/
/*BACKG CABECALHO | COLOR CABECALHO | COLOR N° */
/*BACKG TABLE | BACKG FIRST TD | COLOR FIRST TD  */
/* CARTA | COLOR ANIMAÇOES E HOVER DA SEGUNDA COLUNA */
/*CORES DAS COLUNAS | ATK | DFS | PASS | STARS */
/*CARDS*/
/*MAGIC CARDS*/
/*TRAP CARDS*/
/*RITUAL CARDS*/
/* Content Menu Esquerdo | menu li a */
/* MEDIA SCREEN */
/* CONTENT_MENU_ESQUERDA | 0 A 719 */
.header {
  height: 100px;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  display: grid;
  grid-auto-flow: column;
  padding: 0px 20px 10px 20px;
  border-radius: 5px;
}

.header a {
  color: whitesmoke;
  font-size: 45px;
  font-family: "Anton", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: left;
}

.header img {
  width: 210px;
}

/* RESPONSIVIDADE MEDIA SCREEN */
@media screen and (min-width: 1085.5px) and (max-width: 1262px) {
  .header {
    height: 100px;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    display: grid;
    grid-auto-flow: column;
    padding: 0px 20px 10px 20px;
    border-radius: 5px;
    width: 81%;
  }
  .header a {
    color: whitesmoke;
    font-size: 45px;
    font-family: "Anton", sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .header img {
    width: 210px;
  }
}
/* RESPONSIVIDADE MEDIA SCREEN */
@media screen and (min-width: 901px) and (max-width: 1085px) {
  .header {
    height: 100px;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    padding: 0px 20px 10px 20px;
    border-radius: 5px;
    width: 87%;
  }
  .header a {
    color: whitesmoke;
    font-size: 45px;
    font-family: "Anton", sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .header img {
    width: 200px;
  }
}
/* RESPONSIVIDADE MEDIA SCREEN */
@media screen and (min-width: 0px) and (max-width: 900px) {
  .header {
    display: none; /* Retirei o Header da página*/
  }
}
/* Tabela de Cartas */
/* Content da Tabela */ /* Content | Table */
/*BACKG BODY*/
/*HEADER*/
/*BACKG HEADER | COLOR HEADER */
/*TABLE*/
/*CONTENT TABLE*/
/*BACKG CABECALHO | COLOR CABECALHO | COLOR N° */
/*BACKG TABLE | BACKG FIRST TD | COLOR FIRST TD  */
/* CARTA | COLOR ANIMAÇOES E HOVER DA SEGUNDA COLUNA */
/*CORES DAS COLUNAS | ATK | DFS | PASS | STARS */
/*CARDS*/
/*MAGIC CARDS*/
/*TRAP CARDS*/
/*RITUAL CARDS*/
/* Content Menu Esquerdo | menu li a */
/* MEDIA SCREEN */
/* CONTENT_MENU_ESQUERDA | 0 A 719 */
/* importando variaveis */
/* Content da tabela */
.content_tb {
  max-width: 70%;
  background-image: linear-gradient(to top, #491636 0%, #210d3b 100%);
  margin: 10px 0 0 0;
  padding: 0px;
  box-shadow: 0px 2px 8px 0px rgba(153, 0, 255, 0.507);
  /* Tabela */
  /* N CARTA ATK DFS PASS STAR */
  /* Cabeçalho do N° */
  /*Cabeçalho CARTA*/
  /*Cabeçalho ATK*/
  /*Cabeçalho DFS*/
  /*Cabeçalho PASS*/
  /* Cabeçalho da Starchips */
  /* Todas as Colunas */
  /* Primeira Coluna */
  /* Segunda Coluna  */
  /* Animação Segunda Coluna*/
  /* Font-family, Color ATK DEF PASS */
  /*COLUNA do PASSWORD*/
  /*COLUNA da STARCHIPS*/
  /* MAGIC CARDS */
  /*Animação Magic Cards*/
  /* TRAP CARDS */
  /*Animação TRAP CARDS */
  /*RITUAL CARDS*/
  /*Animação Ritual Cards*/
}
.content_tb table {
  margin-top: 0px;
  width: 100%;
}
.content_tb th {
  background-color: rgb(134, 104, 59);
  border: 0px solid transparent;
  color: rgb(199, 202, 36);
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  padding: 12px;
  border-radius: 5px;
  position: sticky;
  top: 0;
}
.content_tb th:nth-child(6n+1) {
  color: mediumseagreen;
}
.content_tb th:nth-child(2) {
  background-image: url(/imgs/card.png);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position-y: 52%;
  background-position-x: 65%;
}
.content_tb th:nth-child(3) {
  background-image: url(/imgs/espada.png);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position-y: 56%;
  background-position-x: 93%;
}
.content_tb th:nth-child(4) {
  background-image: url(/imgs/escudo.png);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position-y: 56%;
  background-position-x: 93%;
}
.content_tb th:nth-child(5) {
  background-image: url(/imgs/password.png);
  background-size: 28px;
  background-repeat: no-repeat;
  background-position-y: 60%;
  background-position-x: 95%;
}
.content_tb th:nth-child(6) {
  background-image: url(/imgs/starchip.png);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position-y: 56%;
  background-position-x: 98%;
}
.content_tb td {
  padding: 9px;
  margin-left: 15px;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
.content_tb td:nth-child(6n+1) {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply, multiply;
  font-family: "Phudu", cursive;
  font-size: 22px;
  color: rgb(252, 187, 7);
  border-radius: 10px;
  width: 100px;
}
.content_tb td:nth-child(6n+2) {
  font-size: 18px;
  font-family: "Frijole", cursive;
  font-weight: 100;
  width: 300px;
  letter-spacing: 3px;
  animation-name: colunas;
  animation-duration: 500ms;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.content_tb td:nth-child(6n+2):hover {
  animation-name: hover;
  animation-duration: 500ms;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
@keyframes hover {
  0% {
    color: rgb(45, 87, 90);
  }
  100% {
    color: rgb(81, 88, 88);
  }
}
@keyframes colunas {
  0% {
    color: rgb(8, 64, 68);
  }
  100% {
    color: rgb(2, 29, 31);
  }
}
.content_tb td:nth-child(1n+3) {
  font-family: "Yuji Mai", serif;
  color: rgb(187, 12, 12);
  font-weight: 700;
  font-size: 20px;
}
.content_tb td:nth-child(5) {
  color: rgb(36, 28, 151);
}
.content_tb td:nth-child(6) {
  color: rgb(173, 163, 18);
  text-align: center;
  font-size: 18px;
  background-color: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
.content_tb .card_magic td:nth-child(5n+2) {
  animation-name: card_magic;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: 500ms;
}
.content_tb .card_magic td:nth-child(5n+2):hover {
  animation-name: hover_magic;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: 500ms;
}
@keyframes hover_magic {
  0% {
    color: rgb(12, 160, 12);
  }
  100% {
    color: rgb(10, 133, 10);
  }
}
@keyframes card_magic {
  0% {
    color: rgb(12, 116, 12);
  }
  100% {
    color: rgb(7, 126, 7);
  }
}
.content_tb .trap_cards td:nth-child(5n+2) {
  animation-name: trap_cards;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.content_tb .trap_cards td:nth-child(5n+2):hover {
  animation-name: hover_trap;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: 500ms;
}
@keyframes hover_trap {
  0% {
    color: rgb(206, 14, 132);
  }
  100% {
    color: rgb(187, 47, 133);
  }
}
@keyframes trap_cards {
  0% {
    color: rgb(170, 33, 118);
  }
  100% {
    color: rgb(155, 16, 102);
  }
}
.content_tb .ritual_cards td:nth-child(5n+2) {
  animation-name: ritual_cards;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.content_tb .ritual_cards td:nth-child(5n+2):hover {
  animation-name: hover_ritual;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: 500ms;
}
@keyframes hover_ritual {
  0% {
    color: rgb(43, 15, 197);
  }
  100% {
    color: rgb(47, 25, 170);
  }
}
@keyframes ritual_cards {
  0% {
    color: rgb(19, 0, 129);
  }
  100% {
    color: rgb(35, 23, 105);
  }
}

/* MEDIA SCREEN | RESPONSIVIDADE */
@media screen and (min-width: 901px) and (max-width: 1262px) {
  body {
    margin-left: 5%;
  }
  .content_tb {
    max-width: 100%;
    margin: auto;
    background-image: linear-gradient(to top, #491636 0%, #210d3b 100%);
    margin: 10px 0 0 0;
    padding: 0px;
    box-shadow: 0px 2px 8px 0px rgba(153, 0, 255, 0.507);
    border-radius: 10px;
    animation-name: content_tb;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    /* Tabela */
    /* N CARTA ATK DFS PASS STAR */
    /* Cabeçalho do N° */
    /*Cabeçalho CARTA*/
    /*Cabeçalho ATK*/
    /*Cabeçalho DFS*/
    /*Cabeçalho PASS*/
    /* Cabeçalho da Starchips */
    /* Todas as Colunas */
    /* Coluna N° */
    /* Coluna CARTA */
    /* Coluna ATK  */
    /* Coluna DEF  */
    /*COLUNA do PASSWORD*/
    /*COLUNA da STARCHIPS*/
  }
  @keyframes content_tb {
    0% {
      box-shadow: 0px 2px 2px 1px rgba(153, 0, 255, 0.507);
      background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    }
    25% {
      box-shadow: 0px 2px 2px 1px rgba(255, 153, 0, 0.507);
    }
    50% {
      box-shadow: 0px 2px 2px 1px rgba(0, 102, 255, 0.507);
    }
    75% {
      box-shadow: 0px 2px 2px 1px rgba(0, 255, 34, 0.507);
    }
    100% {
      box-shadow: 0px 2px 2px 1px rgba(255, 0, 179, 0.507);
      background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    }
  }
  .content_tb table {
    margin-top: 0px;
    width: 100%;
  }
  .content_tb th {
    background-color: rgb(134, 104, 59);
    border: 0px solid transparent;
    color: rgb(199, 202, 36);
    font-family: "Bebas Neue", cursive;
    font-size: 22px;
    padding: 10px;
    border-radius: 5px;
    position: sticky;
    top: 0;
  }
  .content_tb th:nth-child(1) {
    color: mediumseagreen;
  }
  .content_tb th:nth-child(2) {
    background-image: url(/imgs/card.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position-y: 52%;
    background-position-x: 65%;
  }
  .content_tb th:nth-child(3) {
    background-image: url(/imgs/espada.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position-y: 56%;
    background-position-x: 93%;
  }
  .content_tb th:nth-child(4) {
    background-image: url(/imgs/escudo.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position-y: 56%;
    background-position-x: 93%;
  }
  .content_tb th:nth-child(5) {
    background-image: url(/imgs/password.png);
    background-size: 28px;
    background-repeat: no-repeat;
    background-position-y: 60%;
    background-position-x: 83%;
  }
  .content_tb th:nth-child(6) {
    background-image: url(/imgs/starchip.png);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position-y: 56%;
    background-position-x: 85%;
  }
  .content_tb td {
    padding: 7px;
    margin: 1px;
  }
  .content_tb td:nth-child(1) {
    font-size: 18px;
    width: 0px;
  }
  .content_tb td:nth-child(2) {
    font-size: 15px;
    width: 0;
  }
  .content_tb td:nth-child(3) {
    font-size: 17px;
    width: 30px;
  }
  .content_tb td:nth-child(4) {
    font-size: 17px;
    width: 30px;
  }
  .content_tb td:nth-child(5) {
    font-size: 17px;
    padding: 0 2px 0 2px;
    width: 130px;
  }
  .content_tb td:nth-child(6) {
    color: rgb(173, 163, 18);
    text-align: justify;
    font-size: 16px;
    width: 100px;
  }
}
/* MEDIA SCREEN RESPONSIVIDADE */
@media screen and (min-width: 901px) and (max-width: 1085px) {
  body {
    margin-left: 0;
    margin-right: 0;
  }
  .content_tb {
    max-width: 0%;
    margin: 3px 0 0 0;
    margin-left: 1%;
    margin-right: 5%;
    padding: 0px;
    box-shadow: 0px 2px 8px 0px rgba(153, 0, 255, 0.507);
    animation-name: content_tb;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    /* Tabela */
    /* N CARTA ATK DFS PASS STAR */
    /*Cabeçalho CARTA*/
    /*Cabeçalho ATK*/
    /*Cabeçalho DFS*/
    /*Cabeçalho PASS*/
    /* Cabeçalho da Starchips */
    /*COLUNA da STARCHIPS*/
  }
  @keyframes content_tb {
    0% {
      box-shadow: 0px 2px 2px 1px rgba(153, 0, 255, 0.507);
      background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    }
    25% {
      box-shadow: 0px 2px 2px 1px rgba(255, 153, 0, 0.507);
    }
    50% {
      box-shadow: 0px 2px 2px 1px rgba(0, 102, 255, 0.507);
    }
    75% {
      box-shadow: 0px 2px 2px 1px rgba(0, 255, 34, 0.507);
    }
    100% {
      box-shadow: 0px 2px 2px 1px rgba(255, 0, 179, 0.507);
      background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    }
  }
  .content_tb table {
    font-size: 10px;
    margin: auto;
  }
  .content_tb th {
    width: 100%;
    font-size: 17px;
    background-image: url(none);
  }
  .content_tb th:nth-child(1) {
    background-image: url(none);
    width: 0;
  }
  .content_tb th:nth-child(2) {
    background-image: url(none);
  }
  .content_tb th:nth-child(3) {
    background-image: url(none);
  }
  .content_tb th:nth-child(4) {
    background-image: url(none);
  }
  .content_tb th:nth-child(5) {
    background-image: url(none);
  }
  .content_tb th:nth-child(6) {
    background-image: url(none);
  }
  .content_tb td:nth-child(6) {
    text-align: justify;
  }
}
/* RESPONSIVIDADE MEDIA SCREEN */
@media screen and (min-width: 0px) and (max-width: 900px) {
  body {
    margin-left: 4%;
    margin-right: 1%;
    background-image: url(/imgs/exodia.jpg);
  }
  .content_tb {
    max-width: 90%;
    margin: 20px 0 0 0;
    margin-left: 1%;
    margin-right: 5%;
    padding: 0px;
    box-shadow: 0px 2px 8px 0px rgba(153, 0, 255, 0.507);
    /* Tabela */
    /* N CARTA ATK DFS PASS STAR */
    /* COLUNA N ° CABEÇALHO*/
    /* COLUNA N° TD*/
    /*COLUNA CARTA TD */
    /*COLUNA ATK TD */
    /*COLUNA DFS TD */
    /*COLUNA PASS TD */
    /*COLUNA STAR TD */
  }
  .content_tb table {
    margin: auto;
    width: 0%;
  }
  .content_tb th {
    width: 0%;
    font-size: 17px;
    padding: 8px 0;
    position: sticky;
    top: 0;
    background-color: rgb(53, 46, 46);
    background-image: url(none);
  }
  .content_tb th:nth-child(1) {
    background-image: url(none);
    padding: 20px;
  }
  .content_tb th:nth-child(2) {
    background-image: url(none);
  }
  .content_tb th:nth-child(3) {
    background-image: url(none);
    width: 1%;
  }
  .content_tb th:nth-child(4) {
    background-image: url(none);
    width: 1%;
  }
  .content_tb th:nth-child(5) {
    background-image: url(none);
    width: 1%;
  }
  .content_tb th:nth-child(6) {
    background-image: url(none);
    width: 1%;
  }
  .content_tb td {
    border-radius: 2px;
  }
  .content_tb td:nth-child(1) {
    font-size: 15px;
    width: -10px;
    margin: 0;
  }
  .content_tb td:nth-child(2) {
    font-size: 12px;
    width: 0;
    font-weight: 700;
  }
  .content_tb td:nth-child(3) {
    font-size: 12px;
    width: 0;
    font-weight: 700;
  }
  .content_tb td:nth-child(4) {
    font-size: 12px;
    width: 0;
    font-weight: 700;
  }
  .content_tb td:nth-child(5) {
    font-size: 12px;
    width: 0;
    font-weight: 700;
  }
  .content_tb td:nth-child(6) {
    font-size: 12px;
    width: 0;
    font-weight: 700;
  }
}
/* Menu Lateral Esquerda */
/*Content Lateral Esquerda */
/* Content | Table */
/*BACKG BODY*/
/*HEADER*/
/*BACKG HEADER | COLOR HEADER */
/*TABLE*/
/*CONTENT TABLE*/
/*BACKG CABECALHO | COLOR CABECALHO | COLOR N° */
/*BACKG TABLE | BACKG FIRST TD | COLOR FIRST TD  */
/* CARTA | COLOR ANIMAÇOES E HOVER DA SEGUNDA COLUNA */
/*CORES DAS COLUNAS | ATK | DFS | PASS | STARS */
/*CARDS*/
/*MAGIC CARDS*/
/*TRAP CARDS*/
/*RITUAL CARDS*/
/* Content Menu Esquerdo | menu li a */
/* MEDIA SCREEN */
/* CONTENT_MENU_ESQUERDA | 0 A 719 */
/* Importando variaveis */
.content_lateral_esq {
  display: grid;
  grid-auto-flow: column;
  height: 100%;
  position: sticky;
  top: 0;
}
.content_lateral_esq .logo_yu_mScreen {
  display: none;
}
.content_lateral_esq .psOne {
  display: none;
}
.content_lateral_esq .menu_esq {
  margin-top: 0px;
  height: 325px;
  font-family: "Fredoka One", cursive;
  font-size: 26px;
  font-weight: 400;
  position: sticky;
  top: 30px;
  padding: 0px 15px 0 10px;
  box-sizing: border-box;
  width: 340px;
}
.content_lateral_esq .menu_esq ul li a {
  color: gold;
  margin: 0;
  padding: 0;
}
.content_lateral_esq .menu_esq ul li a:hover {
  color: rgb(212, 187, 41);
  transition: 500ms;
}
.content_lateral_esq .menu_esq ul {
  margin: 0;
  padding: 0;
  line-height: 40px;
}
.content_lateral_esq .menu_esq ul li {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 701px) and (max-width: 1262px) {
  .content_lateral_esq {
    display: flex;
    flex-direction: column;
    width: 85%;
    position: sticky;
    top: 0;
    border-radius: 5px;
  }
  .content_lateral_esq .menu_esq {
    margin-top: 10px;
    background-color: rgb(148, 148, 196);
    height: 100%;
    font-family: "Fredoka One", cursive;
    font-size: 16px;
    font-weight: 400;
    position: sticky;
    top: 57px;
    padding: 10px 5px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  }
  .content_lateral_esq .psOne {
    display: none;
  }
  .content_lateral_esq .menu_esq ul li a {
    color: gold;
    margin: 0 0 0 10px;
    padding: 5px;
    background-color: #333;
    border-radius: 5px;
  }
  .content_lateral_esq .menu_esq ul li a:hover {
    color: rgb(212, 187, 41);
    transition: 500ms;
  }
  .content_lateral_esq .menu_esq ul {
    margin: 0;
    padding: 0;
    line-height: 40px;
    float: left;
  }
  .content_lateral_esq .menu_esq ul li {
    margin: 0;
    padding: 0 8px 0 0;
    display: inline-block;
  }
  .content_lateral_esq .menu_esq ul li:hover {
    box-shadow: 3px 1px 8px purple;
    border-radius: 8px;
    transition: 500ms;
  }
}
/* RESPONSIVIDADE MEDIA SCREEN  */
@media screen and (min-width: 0px) and (max-width: 900px) {
  .content_lateral_esq {
    display: flex;
    flex-direction: column;
    width: 88%;
    border-radius: 10px;
    background-color: transparent;
    /* DIV ONDE ESTAO AS IMGS */
    /* LOGO YU GI OH */
    /* CD YU GI OH */
  }
  .content_lateral_esq .menu_esq {
    background-color: rgb(151, 151, 172);
    height: 100%;
    width: 91%;
    margin-left: 12%;
    margin-top: 50px;
    font-family: "Fredoka One", cursive;
    font-size: 19px;
    font-weight: 400;
    position: sticky;
    top: 63px;
    padding: 2px 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.253);
    text-align: center;
  }
  .content_lateral_esq .grid_img_latEsq {
    display: grid;
    grid-auto-flow: column;
    padding: 10px;
    box-sizing: border-box;
  }
  .content_lateral_esq .logo_yu_mScreen {
    display: inline-block;
    width: 150px;
    margin-top: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.253);
    border-radius: 5px;
  }
  .content_lateral_esq .psOne {
    width: 150px;
    display: inline-block;
    margin-top: 20px;
  }
  .content_lateral_esq .cd_width {
    display: inline-block;
    width: 60px;
  }
  .content_lateral_esq .menu_esq ul li a {
    color: gold;
    margin: 0 0 0 0px;
    padding: 7px 5px;
    background-color: #359;
    border-radius: 5px;
  }
  .content_lateral_esq .menu_esq ul li a:hover {
    color: rgb(212, 187, 41);
    transition: 500ms;
  }
  .content_lateral_esq .menu_esq ul li a:active {
    color: #959;
  }
  .content_lateral_esq .menu_esq ul {
    margin: 0;
    padding: 0;
    line-height: 40px;
    float: left;
  }
  .content_lateral_esq .menu_esq ul li {
    margin: 0;
    padding: 0 8px 0 0;
    display: inline-block;
  }
  .content_lateral_esq .menu_esq ul li:hover {
    box-shadow: 3px 1px 8px purple;
    border-radius: 8px;
    transition: 500ms;
  }
}
/* Cards ToolTip | Passando o mouse sobre a carta*/
/* CARDS */
/* 001 Blue-eyes White Dragon */
a.tooltip:hover span.card--dragaoBranco {
  background-image: url("https://s2.glbimg.com/WTakbIv8Pcr-jzmXWlQB2xZSd24=/1200x/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2021/A/e/dyDPEFST6Ezs8CqBTnQg/dragao.jpg");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -30px;
  margin-left: -500px;
}

/* 002 Mystical Elf */
a.tooltip:hover span.card--mysticalElf {
  background-image: url("./imgs_cards_tooltip/002_mystical_elf.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -10px;
  margin-left: -580px;
}

/* 003 Hitotsu-me Giant */
a.tooltip:hover span.card--Hitotsu-meGiant {
  background-image: url("./imgs_cards_tooltip/003_Hitotsu-me_Giant.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -10px;
  margin-left: -650px;
}

/* 004 Baby Dragon */
a.tooltip:hover span.card--babyDragon {
  background-image: url("./imgs_cards_tooltip/004_baby_dragon.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -10px;
  margin-left: -585px;
}

/* 005 Ryu-kishin */
a.tooltip:hover span.card--ryuKishin {
  background-image: url("./imgs_cards_tooltip/005_Ryu-kishin.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -10px;
  margin-left: -550px;
}

/* 006 Feral Imp */
a.tooltip:hover span.card--feralImp {
  background-image: url("./imgs_cards_tooltip/006_feral_imp.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -10px;
  margin-left: -540px;
}

/* 007 Winged Dragon #1 */
a.tooltip:hover span.card--WDragon_1 {
  background-image: url("./imgs_cards_tooltip/007_WingedDragon_1");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -30px;
  margin-left: -418px;
}

/* 008 Mushroom Man */
a.tooltip:hover span.card--MushroomMan {
  background-image: url("./imgs_cards_tooltip/008_MushroomMan.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -10px;
  margin-left: -618px;
}

/* 009 Shadow Specter */
a.tooltip:hover span.card--shadowSpecter {
  background-image: url("./imgs_cards_tooltip/009_ShadowSpecter.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -10px;
  margin-left: -630px;
}

/* 010 Blackland Fire Dragon */
a.tooltip:hover span.card--BlacklandFireDragon {
  background-image: url("./imgs_cards_tooltip/010_BlacklandFireDragon.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -32px;
  margin-left: -502px;
}

/* 011 	Sword Arm of Dragon */
a.tooltip:hover span.card--SwordArmofDragon {
  background-image: url("./imgs_cards_tooltip/011_SwordArmofDragon.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -32px;
  margin-left: -502px;
}

/* 012 Swamp Battleguard */
a.tooltip:hover span.card--SwampBattleguard {
  background-image: url("./imgs_cards_tooltip/012_Swamp_Battleguard.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -32px;
  margin-left: -575px;
}

/* 013 Tyhone */
a.tooltip:hover span.card--Tyhone {
  background-image: url("./imgs_cards_tooltip/013_Tyhone.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -12px;
  margin-left: -495px;
}

/* 014 Battle Steer */
a.tooltip:hover span.card--BattleSteer {
  background-image: url("./imgs_cards_tooltip/014_BattleSteer.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -12px;
  margin-left: -580px;
}

/* 015 Flame Swordsman */
a.tooltip:hover span.card--Flame_Swordsman {
  background-image: url("./imgs_cards_tooltip/015_FlameSwordsman.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -12px;
  margin-left: -655px;
}

/* 016 Time Wizard */
a.tooltip:hover span.card--TimeWizard {
  background-image: url("./imgs_cards_tooltip/016_TimeWizard.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -12px;
  margin-left: -576px;
}

/* 017 Right Leg of the Forbidden One */
a.tooltip:hover span.card--RightLegoftheForbiddenOne {
  background-image: url("./imgs_cards_tooltip/017_RightLegoftheForbiddenOne.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -12px;
  margin-left: -616px;
}

/* 018 Left Leg of the Forbidden One */
a.tooltip:hover span.card--LeftLegoftheForbiddenOne {
  background-image: url("./imgs_cards_tooltip/018_LeftLegoftheForbiddenOne.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -12px;
  margin-left: -616px;
}

/* 019 Right Arm of the Forbidden One */
a.tooltip:hover span.card--RightArmoftheForbiddenOne {
  background-image: url("./imgs_cards_tooltip/019_RightArmoftheForbiddenOne.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -30px;
  margin-left: -616px;
}

/* 020 Left Arm of the Forbidden One */
a.tooltip:hover span.card--LeftArmoftheForbiddenOne {
  background-image: url("./imgs_cards_tooltip/020_LeftArmoftheForbiddenOne.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -30px;
  margin-left: -616px;
}

/* 021 Exodia the Forbidden */
a.tooltip:hover span.card--ExodiatheForbidden {
  background-image: url("./imgs_cards_tooltip/021_ExodiatheForbidden.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -30px;
  margin-left: -546px;
}

/* 022 Summoned Skull */
a.tooltip:hover span.card--SummonedSkull {
  background-image: url("./imgs_cards_tooltip/022_SummonedSkull.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -10px;
  margin-left: -635px;
}

/* 023 The Wicked Worm Beast */
a.tooltip:hover span.card--TheWickedWormBeast {
  background-image: url("./imgs_cards_tooltip/023_TheWickedWormBeast.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -30px;
  margin-left: -473px;
}

/* 024 Skull Servant */
a.tooltip:hover span.card--SkullServant {
  background-image: url("./imgs_cards_tooltip/024_SkullServant.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -10px;
  margin-left: -600px;
}

/* 025 Horn Imp */
a.tooltip:hover span.card--HornImp {
  background-image: url("./imgs_cards_tooltip/025_HornImp.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -10px;
  margin-left: -533px;
}

/* 026 Battle Ox */
a.tooltip:hover span.card--BattleOx {
  background-image: url("./imgs_cards_tooltip/026_BattleOx.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -10px;
  margin-left: -535px;
}

/* 027 Beaver Warrior */
a.tooltip:hover span.card--BeaverWarrior {
  background-image: url("./imgs_cards_tooltip/027_BeaverWarrior.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -10px;
  margin-left: -633px;
}

/* 028 Rock Ogre Grotto #1 */
a.tooltip:hover span.card--RockOgreGrotto_1 {
  background-image: url("./imgs_cards_tooltip/028_RockOgreGrotto1.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -30px;
  margin-left: -532px;
}

/* 029 Mountain Warrior */
a.tooltip:hover span.card--MountainWarrior {
  background-image: url("./imgs_cards_tooltip/029_MountainWarrior.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -30px;
  margin-left: -517px;
}

/* 030 Zombie Warrior */
a.tooltip:hover span.card--ZombieWarrior {
  background-image: url("./imgs_cards_tooltip/030_ZombieWarrior.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -10px;
  margin-left: -635px;
}

/* 031 Koumori Dragon */
a.tooltip:hover span.card--KoumoriDragon {
  background-image: url("./imgs_cards_tooltip/031_KoumoriDragon.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -10px;
  margin-left: -637px;
}

/* 032 Two-headed King Rex */
a.tooltip:hover span.card--Two-headedKingRex {
  background-image: url("./imgs_cards_tooltip/032_Two-headedKingRex.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -30px;
  margin-left: -440px;
}

/* 033 Judge Man */
a.tooltip:hover span.card--JudgeMan {
  background-image: url("./imgs_cards_tooltip/033_JudgeMan.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -10px;
  margin-left: -547px;
}

/* 034 Saggi the Dark Clown */
a.tooltip:hover span.card--SaggitheDarkClown {
  background-image: url("./imgs_cards_tooltip/034_SaggitheDarkClown.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -30px;
  margin-left: -483px;
}

/*035*/
a.tooltip:hover span.card--magoNegro {
  background-image: url("https://repositorio.sbrauble.com/arquivos/in/yugioh_bkp/cd/576/1771.jpg");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -10px;
  margin-left: -610px;
}

/*036 The Snake Hair */
a.tooltip:hover span.card--TheSnakeHair {
  background-image: url("./imgs_cards_tooltip/036_TheSnakeHair.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -10px;
  margin-left: -619px;
}

/*722*/
a.tooltip:hover span.card--MBlackCaos {
  background-image: url("./imgs_cards_tooltip/722_Magician_of_Black_Chaos.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: -300px;
}

a.tooltip {
  outline: none;
}

a.tooltip strong {
  line-height: 30px;
}

a.tooltip:hover {
  text-decoration: none;
}

a.tooltip span {
  border-radius: 2px;
  box-shadow: 0px 0px 8px 4px #666;
  display: none;
  margin-left: 80px;
  padding: 5px 5px;
  width: 300px;
  height: 300px;
  z-index: 10;
}

.callout {
  border: 0;
  left: 120px;
  position: absolute;
  top: -14px;
  z-index: 20;
}

body:hover {
  display: flex;
  flex-direction: column;
} 
/* Content | Table */
/*BACKG BODY*/
/*HEADER*/
/*BACKG HEADER | COLOR HEADER */
/*TABLE*/
/*CONTENT TABLE*/
/*BACKG CABECALHO | COLOR CABECALHO | COLOR N° */
/*BACKG TABLE | BACKG FIRST TD | COLOR FIRST TD  */
/* CARTA | COLOR ANIMAÇOES E HOVER DA SEGUNDA COLUNA */
/*CORES DAS COLUNAS | ATK | DFS | PASS | STARS */
/*CARDS*/
/*MAGIC CARDS*/
/*TRAP CARDS*/
/*RITUAL CARDS*/
/* Content Menu Esquerdo | menu li a */
/* MEDIA SCREEN */
/* CONTENT_MENU_ESQUERDA | 0 A 719 *//*# sourceMappingURL=index.css.map */