
body{
  height: 100vh;
  margin-top: 0;
  margin-left:10%;
  margin-right:10%;
  background: black;
  background-image: url(/imgs/exodia.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

html{
  color: white;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

iframe{
  margin-top: 100%;
  width: 90%;
}



/* Header */
@import './headerPageTB_.scss';

/* Tabela de Cartas */

@import './contentPgTB_.scss';

/* Menu Lateral Esquerda */
@import './content_menu_esq_PgTB_.scss';

/* Cards ToolTip | Passando o mouse sobre a carta*/
@import './722Cards_tooltip_.scss';

@import './variaveis_pg_tb_';
