
body{
  margin-top: 0;
  margin-left: 2%;
  margin-right: 2%;
  background: black;
}

html{
  color: white;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

iframe{
  margin-top: 100%;
  width: 90%;
}

/* Header */
@import './headerPageTB_.scss';

/* Tabela de Cartas */

@import './contentPgTB_.scss';

/* Menu Lateral Esquerda */
@import './content_menu_esq_PgTB_.scss';

/* Cards ToolTip | Passando o mouse sobre a carta*/
@import './722Cards_tooltip_.scss';

@import './variaveis_pg_tb_';

@media screen and (min-width: 500px) and (max-width: 1262px) {  
        

}